{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/annualChart0.js') }}"></script>
  <script src="{{ asset('js/monChart0.js') }}"></script>
  <script src="{{ asset('js/annualChart1.js') }}"></script>
  <script src="{{ asset('js/monChart1.js') }}"></script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="results">
      <h2>Your Take Home Breakdown</h2>
      <p>Assuming that you are making <strong class="blue">${{results.income0}}</strong> and living in <strong>{{results.city0}}, {{results.state_name0}}</strong></p>
      <p>Annual federal tax <strong class="red">${{results.fed0}}</strong></p>
      <p>Annual state tax <strong class="red">${{results.state0}}</strong></p>
      <p>Your estimated cost of living in {{results.city0}} is <strong class="red">${{results.col0}}</strong> per month <small>(this includes utilities, transport, clothes, sports and leisure, markets, restaurants)<a href="https://www.numbeo.com/cost-of-living/in/{{results.city0}}"> source</a></small></p>
      <p>Cost of renting a 1bdrm apt in the city is <strong class="red">${{results.rent0}}</strong> <small><a href="https://www.numbeo.com/cost-of-living/in/{{results.city0}}">source</a></small></p>
      <p>After living expenses and paying the tax man, your take home <small>(aka potential savings/spending money)</small> is <strong class="green">${{results.mth0}}</strong> per month and <strong class="green">${{results.ath0}}</strong> per year</p>
    </div>
    <hr>
    <div class="results">
      <p>Assuming that you are making <strong class="blue">${{results.income1}}</strong> and living in <strong >{{results.city1}}, {{results.state_name1}}</strong></p>
      <p>Annual federal tax <strong class="red">${{results.fed1}}</strong></p>
      <p>Annual state tax <strong class="red">${{results.state1}}</strong></p>
      <p>Your estimated cost of living in {{results.city1}} is <strong class="red">${{results.col1}}</strong> per month <small>(this includes utilities, transport, clothes, sports and leisure, markets, restaurants)<a href="https://www.numbeo.com/cost-of-living/in/{{results.city1}}"> source</a></small></p>
      <p>Cost of renting a 1bdrm apt in the city is <strong class="red">${{results.rent1}}</strong> <small><a href="https://www.numbeo.com/cost-of-living/in/{{results.city1}}">source</a></small></p>
      <p>After living expenses and paying the tax man, your take home <small>(aka potential savings/spending money)</small> is <strong class="green">${{results.mth1}}</strong> per month and <strong class="green">${{results.ath1}}</strong> per year</p>
      <hr>
      <h3>It appears that you'd take home <span class="green">{{results.percentage}}%</span> more money in <span class="green">{{results.more_money}}</span> than you would in <span class="red">{{results.less_money}}</span></h3>
      <hr>
      <h5 class="text-center">Monthly Take Home Breakdown</h5>
    </div>
    <div class="monGraph0">
      <canvas id="monChart0"></canvas>
      <input id="income0" type="hidden" value="{{results.income_js0}}">
      <input id="col0" type="hidden" value="{{results.col_js0}}">
      <input id="fed0" type="hidden" value="{{results.fed_js0}}">
      <input id="rent0" type="hidden" value="{{results.rent_js0}}">
      <input id="state0" type="hidden" value="{{results.state_js0}}">
      <input id="mth0" type="hidden" value="{{results.mth_js0}}">
      <input id="ath0" type="hidden" value="{{results.ath_js0}}">
      <input id="city0" type="hidden" value="{{results.city0}}">
      <input id="stat_name0" type="hidden" value="{{results.state_name0}}">
      <input id="income1" type="hidden" value="{{results.income_js1}}">
      <input id="col1" type="hidden" value="{{results.col_js1}}">
      <input id="fed1" type="hidden" value="{{results.fed_js1}}">
      <input id="rent1" type="hidden" value="{{results.rent_js1}}">
      <input id="state1" type="hidden" value="{{results.state_js1}}">
      <input id="mth1" type="hidden" value="{{results.mth_js1}}">
      <input id="ath1" type="hidden" value="{{results.ath_js1}}">
      <input id="city1" type="hidden" value="{{results.city1}}">
      <input id="stat_name1" type="hidden" value="{{results.state_name1}}">
    </div>
    <h5 class="text-center">Annual Take Home Breakdown</h5>
    <div class="annualGraph0">
      <canvas id="annualChart0"></canvas>
    </div>
  </div>
{% endblock %}
